<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="center">
    <app-logo></app-logo>
  </div>

  <ion-card>
    <ion-card-header class="center">
      <ion-card-title>Login</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <form>
        <ion-list>
          <ion-item>
            <ion-label position="stacked">E-mail</ion-label>
            <ion-input
              name="email"
              [(ngModel)]="data.email"
              type="email"
            ></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Senha</ion-label>
            <ion-input
              autocomplete="off"
              name="password"
              [(ngModel)]="data.password"
              type="password"
            ></ion-input>
          </ion-item>

          <ion-item lines="none">
            <a routerLink="/signup">Criar Conta</a>
          </ion-item>

          <ion-button
            expand="block"
            shape="round"
            color="success"
            (click)="login()"
            >Entrar</ion-button
          >
        </ion-list>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>
