<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Categorias</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label position="stacked">Nome</ion-label>
          <ion-input
            type="text"
            [(ngModel)]="form.name"
          ></ion-input>
        </ion-item>
        <ion-button
          shape="round"
          color="primary"
          (click)="save()"
          *ngIf="!editable"
        >
          Salvar
        </ion-button>
        <ion-button
          shape="round"
          color="primary"
          (click)="update()"
          *ngIf="editable"
        >
          Alterar
        </ion-button>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <ion-grid>
        <ion-row *ngFor="let item of categories">
          <ion-col>
            {{item.name}}
          </ion-col>
          <ion-col>
            <ion-button clear item-end (click)="edit(item.id)">
              Editar
            </ion-button>
          </ion-col>
          <ion-col>
            <ion-button
              clear
              item-end
              color="danger"
              (click)="presentConfirm(item.id)"
            >
              Excluir
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>
