<ion-tabs>
  <ion-tab-bar slot="bottom" color="primary">
    <ion-tab-button tab="dashboard">
      <ion-icon name="pie"></ion-icon>
      <ion-label>Dashboard</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="category">
      <ion-icon name="snow"></ion-icon>
      <ion-label>Categorias</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="billpay">
      <ion-icon name="medal"></ion-icon>
      <ion-label>À Pagar</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="billreceive">
      <ion-icon name="paper"></ion-icon>
      <ion-label>À Receber</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
